*{margin: 0;padding: 0;}

.cha{
    margin: 70px;
    background-color: lightsalmon;
    display: flex;
    justify-content: space-around;
    
}
.con{
    width: 150px;
    height: 250px;
    background-color: lightslategrey;
    border-radius: 16px;
}
.con2{
    width: 150px;
    height: 250px;
    background-color: mediumorchid;
    border-radius: 16px;

}
.con3{
    width: 150px;
    height: 250px;
    background-color: palegoldenrod;
    border-radius: 16px;

}